[user]
	name = Tom De Leu
	email = ...
[color]
	ui = true
[alias]
	co = checkout
	st = status
	br = branch
	ci = commit
	ri = rebase --interactive
	lo = log --pretty=oneline
	dc = diff --cached
[merge]
	renameLimit = 0
[github]
	user = tdl
	token = ...
[core]
[push]
	default = simple
[diff]
	renameLimit = 0
