# immediately show possibilities instead of ringing the bell
set show-all-if-ambiguous on

# PageUp, PageDown, Ctrl+Up, Ctrl+Down
"\e[5~": history-search-backward
"\e[6~": history-search-forward
"\e[1;5A": beginning-of-history
"\e[1;5B": end-of-history

# Alt+Left, Alt+Right
"\e\e[D": backward-word
"\e\e[C": forward-word